<h1 class="text-muted">DTLA NGHBR</h1>

<div class="jumbotron">
  <div class="container">
    <h3>Welcome to NGHBR</h3>
    <p>Our application streamlines the process for finding events in LA. It's your go to app for discovering hyper-local events in Los Angeles.</p>
  </div>

  <div class="col-md-4">
    <p class="text-center">
      <a href="events/" class="btn btn-success btn-lg">View Events</a>
    </p>
  </div>

  <div class="col-md-4">
    <p class="text-center">
      <a href="events/new"  class="btn btn-primary btn-lg">Add Events</a>
    </p>
  </div>

  <div class="col-md-4">
    <p class="text-center">
      <a href="#"  class="btn btn-info btn-lg">Learn More</a>
    </p>
  </div>
  <br>
</div>


