<h1 class="text-muted">Eventr</h1>

<div class="jumbotron">
  <div class="container">
    <h3>Welcome to Eventr.</h3>
    <p>Your go to app for discovering hyper-local events in Los Angeles.</p>

  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <p class="text-center">
      <a class="btn btn-success btn-lg">View Events</a>
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, adipisci veritatis modi! Necessitatibus rem aut ullam consequatur suscipit excepturi, natus tenetur quaerat molestias earum, esse sint harum repudiandae, obcaecati soluta.</p>
  </div>

  <div class="col-md-4">
    <p class="text-center">
      <a class="btn btn-primary btn-lg">Add Events</a>
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ex nihil error. Dolorum tempora illo sunt adipisci magnam aliquam iusto voluptatem cupiditate odio quasi architecto magni obcaecati qui harum, saepe?</p>
  </div>

  <div class="col-md-4">
    <p class="text-center">
      <a class="btn btn-info btn-lg">Learn More</a>
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, temporibus eaque, itaque dolore illo blanditiis. Maxime, dolore provident voluptate nesciunt dolorum, fugit quos non adipisci inventore voluptates! Ea, laudantium, earum.</p>
  </div>

</div>
