// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #62C05C;
}

h1 a {
  color: #62C05C;
}

h2 a:hover {
  color: #B9F8B4;
}


